---
layout: blog
title: felip.me's blog
about: 'about'
cover: '/assets/images/rio5.jpg'
---

<header class="site-head" {% if page.cover %} style="background-image: url({{ page.cover }}); background-position-y: center"{% endif %}>
	<div class="vertical">
		<div class="site-head-content" class="inner">
			{% if page.logo %}
				<a class="blog-logo" href="{{ site.baseurl }}">
					<img src="{{ page.logo }}" alt="Blog Logo" />
				</a>
			{% endif %}
			<h3 class="b-cursor">Hi!</h3>
			<div class="cli-wrapper">
				<h1 class="blog-title b-cursor">This is my blog.</h1>
			</div>
			<h2 class="blog-description b-cursor" data-cli="fade">
				follow me on <a href="http://twitter.com/f03lipe"><em>twitter</em></a>
				&amp; <a href="http://github.com/f03lipe"><em>github</em></a><a span="">:)</a> &bull; <a href="{{site.baseurl}}">about me</a>
			</h2>
			</div>

		</div>
	</div>
</header>

<main class="content" role="main">

	{% for post in paginator.posts %}

	<article class="post">
		<header class="post-header">
			<span class="post-meta">
				<time datetime="{{ post.date | date_to_string }}">{{ post.date | date_to_string }}</time>
				{{!tags prefix="on "}}
			</span>
			<h3 class="post-title"><a href="{{ post.url}}">{{ post.title }}</a></h3>

		</header><!-- 
		<section class="post-excerpt">
			{ post.excerpt }
		</section> -->
	</article>

	{% endfor %}

	<nav class="pagination" role="pagination">

		{% if paginator.previous_page %}
		  {% if paginator.previous_page == 1 %}
		  <a class="newer-posts" href="/" title="Previous Page">&laquo; Newer Posts</a>
		  {% else %}
		  <a class="newer-posts" href="/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; Newer Posts</a>
		  {% endif %}
		{% endif %}

		<span class="page-number"> Page {{paginator.page}} of {{paginator.total_pages}} </span>
		
		{% if paginator.next_page %} 
		<a class="older-posts" href="/page{{ paginator.next_page }}/" title="Next Page">Older Posts &raquo;</a>
		{% endif %} 
	</nav>
	

</main>

