---
layout: blog
cover: false
about: 'about'
cover: '/assets/images/rio1.jpg'
---

<header class="site-head" {% if page.cover %} style="background-image: url({{ page.cover }}); background-position-y: center;"{% endif %}>
    <div class="vertical">
        <div class="site-head-content" class="inner">
            <h3 class="b-cursor">Hi.</h3>
            <div class="cli-wrapper">
                <h1 class="blog-title b-cursor">{{ site.name }}</h1>
            </div>
            <h2 class="blog-description b-cursor" data-cli="fade">
                follow me on
                <a href="http://twitter.com/f03lipe"><em>twitter</em></a>
                &amp;
                <a href="http://github.com/f03lipe"><em>github</em></a><a span="">:)</a>
            </h2>
                
            {% if page.logo %}
                <a class="blog-logo" href="{{ site.baseurl }}">
                    <img src="{{ page.logo }}" alt="Blog Logo" />
                </a>
            {% endif %}
            <!-- 
                <h2 class="blog-description"> 
                    {{ site.description }}
                    {% if page.about %} <a href='{{site.baseurl}}{{page.about}}'> About me </a> {% endif %}
                </h2> 
             -->
            </div>

        </div>
    </div>
</header>


<main class="content" role="main">
    <article class="post">
        <header class="post-header">
            <a id="blog-logo" href="{{site.baseurl}}">
                {% if site.logo %}
                    <img src="{{site.logo}}" alt="{{ site.name }}" />
                {% else %}
                    <span class="blog-title">{{ site.name }}</span>
                {%endif%} 
            </a>
        </header>

        <h1 class="post-title">{{ page.title }}</h1>

        <section class="post-content">
            {{content}}
        </section>

    </article>

</main>
